.form {
  display: flex;
  justify-content: space-between;
  border: solid 1px lightgrey;
  padding: 10px 25px;
  border-radius: 50px;
  box-shadow: 0 0 5px 0 gray;
}

.input {
  border: none;
  width: 100%;
}

.input:focus-visible {
  outline: none;
}

.button {
  background: goldenrod;
  color: white;
  border-radius: 50px;
  width: 7vw;
  height: 7vw;
  border: none;
}

@media (min-width: 768px) {
  .form {
    margin: 0 20vw;
  }

  .button {
    width: 3.2vw;
    height: 3vw;
  }
}
